p {
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
}

.video-title {
font-size: 20px;
width: 320px;
line-height: 25px;
margin-bottom: 7px;
font-weight: bold;
}

.video-stats {
font-size: 15px;
color: rgb(61, 59, 59);
margin-bottom: 25px;

}

.video-author {
font-size: 15px;
color: rgb(61, 58, 58);
margin-bottom: 25px;
}

.video-description {
font-size: 17px;
width: 320px;
color: rgb(49, 48, 48);
line-height: 22px;
margin-bottom: 50px;
}

.apple-text {
font-size: 14px;
color: white;
background-color: rgb(195, 29, 29);
padding-top: 20px;
padding-bottom: 20px;
padding-left: 5px;
text-align: center;
width: 450px;
}

.shop-now {
cursor: pointer;
}

.shop-now:hover {
text-decoration: underline;
}